@{
    ViewData["Title"] = "My Dashboard";
}

<section class="navbar-margin">
    <div class="container-fluid welcome-user-back">
        <div class="d-flex justify-content-center align-items-center">
            <div class="t-30 text-center">
                <span class="fw-normal">Welcome, </span>
                @if (User.Identity.Name != null)
                {
                    <span class="fw-bold"> @User.Identity.Name.Split(" ")[0]!</span>
                }
            </div>
        </div>
    </div>
</section>
<section>
    <div class="dashboard-container">
        <div class="dashboard-left d-none d-lg-block">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#ServiceHistory">Service History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#ServiceSchedule">Service Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#FavouritePros">Favourite Pros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#Invoices">Invoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#Notifications">Notifications</a>
                </li>
                <li class="nav-item d-none">
                    <a class="nav-link" data-bs-toggle="pill" href="#MySettings">My Settings</a>
                </li>
            </ul>
        </div>
        <div class="dashboard-right">
            <div class="tab-content">
                <div class="tab-pane active" id="Dashboard">

                </div>
                <div class="tab-pane " id="ServiceHistory">

                </div>
                <div class="tab-pane " id="ServiceSchedule">
                    <h1>Helllo3</h1>
                </div>
                <div class="tab-pane " id="FavouritePros">
                    <h1>Helllo4</h1>
                </div>
                <div class="tab-pane " id="Invoices">
                    <h1>Helllo5</h1>
                </div>
                <div class="tab-pane " id="Notifications">
                    <h1>Helllo6</h1>
                </div>
                <div class="tab-pane  " id="MySettings">
                    <div class="setting-container">
                        <div class="setting-top mb-4">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="pill" href="#MyDetails">
                                        <span class="d-none d-md-inline">My Details</span>
                                        <h1 class="d-inline d-md-none"><i class="bi bi-card-text"></i></h1>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="pill" href="#MyAddresses">
                                        <span class="d-none d-md-inline">My Addresses</span>
                                        <h1 class="d-inline d-md-none"><i class="bi bi-geo-alt"></i></h1>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="pill" href="#ChangePassword">
                                        <span class="d-none d-md-inline">Change Password</span>
                                        <h1 class="d-inline d-md-none"><i class="bi bi-key"></i></h1>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="setting-bottom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="MyDetails">
                                </div>
                                <div class="tab-pane " id="MyAddresses">
                                    <div id="AddressChangeAlert" class="alert alert-success d-none"></div>
                                    <div id="MyAddressesBox"></div>
                                </div>
                                <div class="tab-pane " id="ChangePassword">
                                    <h1>Helllo3</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ServiceDetailsModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
            <div class="modal-content modal-content-custom">
                <div type="button"
                     class="btn-close btn-close-modal-custom"
                     data-bs-dismiss="modal"></div>
                <h1 class="t-24 color-4f-grey mb-4 fw-bold">Service Details</h1>
                <div id="ServiceDetailsModalBox">

                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_LoaderPartial" />
<partial name="_LoaderLoadPartial" />
@section Scripts
{
    <script>
        jQuery(document).ready(function () {
            $(function () {
                $('.loadingPageDNone').removeClass("d-none");
                $("#Dashboard").load('@Url.Action("CurrentServiceRequests", "User")', function () {
                    $('.loadingPageDNone').addClass("d-none");
                });
            });
            $('a[data-bs-toggle="pill"][href="#Dashboard"]').on("show.bs.tab", function (e) {
                $(function () {
                    $('.loadingPageDNone').removeClass("d-none");
                    $("#Dashboard").load('@Url.Action("CurrentServiceRequests", "User")', function () {
                        $('.loadingPageDNone').addClass("d-none");
                    });
                });
            });
            $('a[data-bs-toggle="pill"][href="#MySettings"]').on("show.bs.tab", function (e) {
                $(function () {
                    $('.loadingPageDNone').removeClass("d-none");
                    $("#MyDetails").load('@Url.Action("MyDetails", "User")', function () {
                        $('.loadingPageDNone').addClass("d-none");
                    });
                });
                $("#MyAddressesBox").load('@Url.Action("ListAddtess", "User")');
                $("#ChangePassword").load('@Url.Action("ResetPassword", "User")');
            });
            $('a[data-bs-toggle="pill"][href="#ServiceHistory"]').on("show.bs.tab", function (e) {
                $(function () {
                    $('.loadingPageDNone').removeClass("d-none");
                    $("#ServiceHistory").load('@Url.Action("ServiceHistory", "User")', function () {
                        $('.loadingPageDNone').addClass("d-none");
                    });
                });
            });
            if ('@ViewBag.Tab' == 0) {
                $('a[data-bs-toggle="pill"][href="#Dashboard"]').tab("show");
            }
            if ('@ViewBag.Tab' == 1) {
                $('a[data-bs-toggle="pill"][href="#ServiceHistory"]').tab("show");
            }
            if ('@ViewBag.Tab' == 2) {
                $('a[data-bs-toggle="pill"][href="#ServiceSchedule"]').tab("show");
            }
            if ('@ViewBag.Tab' == 3) {
                $('a[data-bs-toggle="pill"][href="#FavouritePros"]').tab("show");
            }
            if ('@ViewBag.Tab' == 4) {
                $('a[data-bs-toggle="pill"][href="#Invoices"]').tab("show");
            }
            if ('@ViewBag.Tab' == 5) {
                $('a[data-bs-toggle="pill"][href="#Notifications"]').tab("show");
            }
            if ('@ViewBag.Tab' == 6) {
                $('a[data-bs-toggle="pill"][href="#MySettings"]').tab("show");
            }

        });
        function AddEditAddressSuccess(res) {
            if (res.isSuccess) {
                $(function () {
                    $("#AddEditAddressModal").modal("hide");
                    $('.loadingPageDNone').removeClass("d-none");
                    $("#MyAddressesBox").load('@Url.Action("ListAddtess", "User")', function () {
                        $('.loadingPageDNone').addClass("d-none");
                    });
                    if (res.isNew == true) {
                        addressChangeAlert("Address created successfully.");
                    } else {
                        addressChangeAlert("Address updated successfully.");
                    }
                });
            }
        }
        function deleteAddressModal(Id) {
            $('#deleteModalDiv').html(Id);
            $('#DeleteAddressModal').modal("show");
        }
        function deleteAddress() {
            var Id = $('#deleteModalDiv').html();
            (function () {
                $('.loadingPageDNone').removeClass("d-none");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteAddress", "User")',
                    data: { id : Id },
                    success: function (res) {
                        if (res.isSuccess) {
                            $('#DeleteAddressModal').modal("hide");
                            $("#MyAddressesBox").load('@Url.Action("ListAddtess", "User")');
                            addressChangeAlert("Address Deleted successfully.");
                        }
                    }, complete: function () {
                        $('.loadingPageDNone').addClass("d-none");
                    }
                });
            })();
        }
        function addressChangeAlert(alertValue) {
            $("#AddressChangeAlert").html(alertValue);
            $("#AddressChangeAlert").removeClass("d-none");
            setTimeout(function () { $("#AddressChangeAlert").addClass("d-none"); }, 3000);
        }

        function openServiceDetailsModal(Id,RequestOrigin) {
            (function () {
                $('.loadingPageDNone').removeClass("d-none");
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ServiceDetails", "User")',
                    data: { id: Id, requestOrigin:RequestOrigin },
                    success: function (res) {
                        $("#ServiceDetailsModalBox").html(res);
                    }, complete: function () {
                        $('.loadingPageDNone').addClass("d-none");
                    }
                });
            })();
            $("#ServiceDetailsModal").modal('show');
        }

    </script>
}